@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    background: url(../img/background-large.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
html {
    height: 100%;
}

.page-home {
    text-align: center;
    color: #444444;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}
.page-home h1 {
    display: inline-block;
    font-size: 52pt;
    padding: 10px 50px;
}
.page-home .social-icons {
}
.page-home .social-icons a {
    color: white !important;
    font-size: 14pt;
    margin: 20px;
    border: 1px solid white;
    text-align: center;
    background-color: rgba(5, 5, 5, 0.3);
}
.page-home .social-icons a:hover {
    color: #28a4c9 !important;
    background-color: white;
}
.page-home-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-round {
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    padding: 10px 0;
}

/**
Menu
*/
#menu {
    text-align: right;
}
#menu li {
    display: inline-block;
    padding: 20px 10px;
    text-transform: uppercase;
}
#menu li a {
    color: #888888;
}
#menu li a:hover {
    background: none;
    color: #444444;
    font-weight: 700;
}
#menu li.active a {
    color: #444444;
    font-weight: 700;
}

h2, h3 {
    font-weight: 700;
    font-size: 32pt;
    text-transform: uppercase;
    margin: 20px;
}

/**
Sub pages
*/
.page-header {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.page-subtitle {
    font-size: 18pt;
}

/**
Profile Page
*/
.page-profile {
    background-color: #fcfcfc;
    padding-bottom: 100px;
}
/**
 * Skill Page
 */
.page-skills {
    background-color: #f3f3f3;
    padding-bottom: 100px;
}
.page-skills .skills {
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-bottom: 70px;
}
.page-skills .skills li {
    display: inline;
    padding: 5px 20px;
}
.page-skills .skill-expert {
    font-size: 28pt;
}
.page-skills .skill-secondary {
    font-size: 18pt;
}
.page-skills .skill-tertiary {
    font-size: 14pt;
}

/**
 * Tools Page
 */
.page-tools {
    background-color: #e5e5e5;
    padding-bottom: 100px;
}
.page-tools .tools {
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 30px 0;
}
.page-tools .tools div {
    text-align: center;
    font-size: 18pt;
}
.page-tools .tools img {
    height: 140px;
    width: 305px;
    margin-bottom: 5px;
}

/**
 * Portfolio Page
 */
.page-portfolio {
    background-color: #fcfcfc;
    padding-bottom: 100px;
}
.page-portfolio .portfolio {
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 30px 0;
}
.page-portfolio .portfolio li {
    display: inline;
    padding: 5px 20px;
    font-size: 24pt;
}

/**
 *Page Contact
 */
.page-contact {
    height: 70%;
    color: #000;
    margin: 60px 0;
    text-align: center;
    font-size: 18pt;
}
.page-contact .page-header {
    color: #444;
}
